StressCount=1
Delay Time=0
Browsers=Chrome
Application=SI
Quit=Yes
GenCSV=Yes
GenControls=Yes
GenComponents=Yes
ScreenShot=No
CompanyName=Saturn-Interactive
ProductName=KickStart Pro
KickStart_Automation_Solutions_Location=C:/SI-KSP-Trial/
splash=File
Env=
UN=
PW=
Headless=No
Explicit Time=20
Mobile=No
Mobile Device Name=EMULATOR-5554
Mobile Port=4723
Clear Reports=Yes
Terminate Browser Drivers=No
